{
  "arrowParens": "always",
  "bracketSpacing": true,
  "configPath": "",
  "disableLanguages": [],
  "documentSelectors": [],
  "embeddedLanguageFormatting": "auto",
  "enable": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "ignorePath": ".prettierignore",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "packageManager": "yarn",
  "prettierPath": "",
  "printWidth": 150,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requireConfig": false,
  "requirePragma": false,
  "resolveGlobalModules": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useEditorConfig": true,
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "withNodeModules": false,
  "importOrder": ["/^react(.*)/gi", "^@.*", "^#.*", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
